* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0045ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40vw;
    margin: 30px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #4b86f5;
    border-radius: 10px;
}

button {
    padding: 12px;
    background-color: #ffd200;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

button:hover {
    background-color: #b69b25;
}

.task_list {
    width: 40vw;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #00b898;
}

h2 {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

h1 {
color: #fff;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 8px 0;
    border-radius: 5px;  
    color: #fff;
    font-weight: bolder;
}

li:hover {
    background: #7eb1e4;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

#taskStatus {
    width: 20vw;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
}

#taskStatus p {
    font-size: 16px;
    margin: 5px 0;
}
